$header-height: 48px;
$menu-background: #f4f5f9;
$shadow-color: #c9d6de;
$default-background: #9BAACF;
$activated-background-left: #7C8FFD;
$activated-background-right: #6432F3;
$white-plus: #E4EBF5;
$fair-background-color: #EEEEEE;
$button-height: 28px;
$button-width: 56px;
$cilcle-radius: 20px;